<style type="text/css">
.round-image{
  border-radius:100%; 
  height: 50px; 
  /*margin: 10 auto;*/
  width: 50px; 
  overflow:hidden;
  /*transition: top .2s ease-in-out,width .5s,height .5s;*/
}
/*.round-image:hover{
  width: 250px;
  height: 250px;
  }*/

  .profile-round-image{
    border-radius:100%; 
    height: 150px; 
    /*margin: 10 auto;*/
    width: 150px; 
    overflow:hidden;
    /*transition: top .2s ease-in-out,width .5s,height .5s;*/
  }

  .profile-container{
    box-shadow: 0 1em 1em 1em #999;
    padding: 20px;
  }

  ul{
    list-style-type:none
  }
  .comments:after { border-color: #fff; }
  .comments:before { background-color: #fff; }
  .comments .comment {
    background: #fff;
    border-radius: 10px;
    /*font-size: 11px;*/
    padding: 10px 15px;
  }
  .comments [class*="level-"] .photo:before { background-color: #fff; }
  .comments .meta { color: #ccc; }
  .comments .meta a { color: inherit; }
  .comments .meta a:hover { color: #34b5d0; }
  .comments .body { color: #888; }

/**
 * Comments Thread
 */
 .comments {
  list-style-type: none;
  padding: 5px 0 0 46px;
  position: relative;
  margin: 0 0 0 12px;
}
.comments:before,
.comments .comment,
.comments .comment:after,
.comments .comment:before,
.comments .photo img,
.comments [class*="level-"] .photo:before {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
}
.comments:after,
.comments:before {
  display: block;
  content: '';
  position: absolute;
}
.comments:before {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  height: 100%;
  width: 8px;
  left: 0;
  top: 0;
}
.comments:after {
  box-shadow: 0 1px 3px rgba(0,0,0,.4), 0 1px 3px rgba(0,0,0,.4) inset;
  border-width: 4px;
  border-style: solid;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  height: 10px;
  width: 10px;
  left: -5px;
  top: -16px;
  z-index: -1;
}
.comments .comment {
  margin-bottom: 10px;
  position: relative;
}
.comments .comment:after,
.comments .comment:before {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  display: block;
  content: '';
}
/*.comments .comment:after {
  width: 12px;
  height: 12px;
  left: -14px;
  top: 7px;
  }*/
  .comments .comment:before {
    width: 5px;
    height: 5px;
    left: -22px;
    top: 16px;
  }
  .comments .photo {
    position: absolute;
    left: -60px;
    top: 2px;
  }
  .comments .photo img {
    border: 1px solid #fff;
    border-radius: 32px;
    overflow: hidden;
  }
  .comments .meta { margin-bottom: 5px; }
  .comments .meta .reply { display: none; float: right; }
  .comments .comment:hover .reply { display: block; }
  .comments [class*="level-"] .photo:before {
    display: block;
    content: '';
    position: absolute;
    margin-top: -2px;
    height: 4px;
    width: 20px;
    left: -10px;
    top: 50%;
    z-index: -1;
  }
  .comments .level-2 { margin-left: 30px; }
  .comments .level-3 { margin-left: 50px; }
  .comments .level-4 { margin-left: 70px; }
  .comments .level-5 { margin-left: 90px; }
  .comments .level-6 { margin-left: 110px; }
  .comments .level-3 .photo:before { width: 40px; left: -30px;}
  .comments .level-4 .photo:before { width: 60px; left: -50px;}
  .comments .level-5 .photo:before { width: 80px; left: -70px;}
  .comments .level-6 .photo:before { width: 100px; left: -90px;}
</style>

<!-- about my profile -->
<section class="dss-about-bottom py-5 margin-top85-bottom10" id="about">
  <div class="container py-lg-5 py-md-3">
    <div class="row middle-grids">
     <!-- <div class="col-lg-3 col-sm-3 col-md-3 advantage-grid-info1"> -->
      <div class="advantage_left1 mt-lg-0 mt-5">
        <img src="<%= image_url(@blog.image) %>" class="img-fluid" alt="">
      </div>
      <!-- </div> -->
      <div class="col-lg-12  col-sm-12 col-md-12 advantage-grid-info">
        <div class="advantage_left">
          <h1 class="mt-3 underline" style="font-weight: bold;"><%= @blog.title %></h1>
          <p>Total Blog Views: <%=@blog.unique_impression_count %></p>
          <p>Blog Status: <%=@blog.status %></p>
          <p>Created By: <%= @blog&.user&.username %> Created at: <%= @blog.created_at.strftime('%m-%d-%Y') %></p>          <p><strong>Tags: <%= raw @blog.tags.map(&:name).map { |t| link_to t, blogs_path(tag: t), class: "badge badge-warning" }.join('  ') %></strong></p>
        </div>
        <p class=""><%= raw @blog.content %></p>  
        <div class="comment-wrapper">
          <p>
            Rate Blog   : <%= rating_for @blog, 'blog_content', disable_after_rate: true %>
            <!-- Presentation : <%#= rating_for @blog, 'presentation', disable_after_rate: true %> -->
            <!-- Blogger(User added Blog) : <%#= rating_for @blog, 'blogger', disable_after_rate: true %> -->
          </p>
          <p>
            Share on : <%= social_share_button_tag(@blog.title,:url => blogs_url(@blog), :image => image_url(@blog.image), :'data-type' => 'photo') %>
          </p>
           <h3>
           <%= link_to "Do you have any blog suggestion? please click on the link" , new_blog_suggestion_path %>
          </h3>
        </div>
        <br>
        <div class="container profile-container">
          <div class="row">
            <div class="col-md-2">
              <% if @blog.user&.profile_picture.present? %>
              <img src="<%= image_url(@blog.user&.profile_picture) %>" class="profile-round-image" alt="">
              <% else %>
              <img class="profile-round-image" src="/avtar.jpg">
              <% end %>
            </div>
            <div class="col-md-8">
              <h1><%= @blog.user&.username %></h1>
              <% if @blog.user&.description.present? %>
              <h4><%= @blog.user&.description %></h4>
              <% else %>
              <h4>I am <%= @blog.user&.username %> blogger on ShadBox. I am influencer,content writer,author and publisher. Feel free to ask me any question and suggestions. </h4>
              <% end %>
            </div>
            
          </div>
        </div>
        <br><br>
        <div class="panel-body">
          <h1>Comments</h1>
          <%= form_for [@blog, Comment.new] do |f| %>
          <%= f.text_area :body, class: "form-control", required: true %>
          <br>
          <%= f.submit class: "btn btn-info pull-right" %>
          <% end %>
          <div class="clearfix"></div>
          <hr>
          <ul class="comments">
            <%= render @blog.comments.order('created_at DESC'), id: params[:id] %>  
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<script async src="https://widget.websitevoice.com/fmTTr3GPNzMEMCZjd235ZQ"></script>
<script>
  window.wvData=window.wvData||{};function wvtag(a,b){wvData[a]=b;}
  wvtag('id', 'fmTTr3GPNzMEMCZjd235ZQ');
</script>
</section>




