


<%= simple_form_for(@blog_suggestion) do |f| %>
<section class="dss-contacts-12 py-5">
  <div class="container py-md-3">
    <div class="contacts12-main">
     <div class="title-section">
      <h3 class="main-title-w3 mb-md-5 mb-4">Create/Update a  blog</h3>
    </div>

    <%= f.error_notification %>
    <div class="main-input"> 
      <% if @blog_suggestion&.errors&.any? %>
      <%= render "devise/shared/error_messages", resource: @blog %> 
      <% end %>       

      <%= f.text_field :title, class: "contact-input", placeholder: "Enter title" %>
      <%#= f.text_field :status, class: "contact-input" ,placeholder: "Enter status"%>
      <%= f.text_area :description, class: "contact-input" ,placeholder: "Enter description "%>

    </div>
    <div class="form-actions">
    <%= f.button :submit %>
  </div>
  </div>
</section>
<% end %>

<script type="text/javascript">
    <%= render "blog_suggestion.js" %>
  
</script>

